[flake8]
max-line-length = 88
# E203: whitespace before ‘,’, ‘;’, or ‘:’
# E501: line length
# W503: line break after binary operator
ignore = E203, E501, W503
docstring-convention = google
extend-select = B902, B903, B904
extend-exclude = .venv, *.pyc, .github, deps, other_schema, python-coverage, sample_data
